<form class="form">
      <div class="add-recipe-card field">
        <label class="label title is-4" for="recipe-name">Recipe Name:</label>
        <input class="input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="add-recipe-card field">
        <label class="label title is-4" for="recipe-ingredient">Add an Ingredient:</label>
        <div class="ingredients">
            <div class="ingredient">
                <label class="label" for="recipe-ingredient-name">Ingredient Name:</label>
                <input class="input" type="text" id="recipe-ingredient-name" name="recipe-ingredient-name"/>
                <label class="label" for="recipe-ingredient-unit">Ingredient Unit of Measurement:</label>
                <input class="input" type="text" id="recipe-ingredient-unit" name="recipe-ingredient-unit"/>
                <label class="label" for="recipe-ingredient-amount">Ingredient Amount:</label>
                <input class="input" type="text" id="recipe-ingredient-amount" name="recipe-ingredient-amount"/>
                <button class="remove-ingredient button" type="button">Remove Ingredient</button>
            </div>
        </div>
        <button class="add-ingredient button" type="button">Add Another Ingredient</button>
      </div>
      <div class="add-recipe-card field">
        <label class="label title is-4" for="recipe-instructions">Instructions:</label>
        <textarea class="textarea" rows="4" id="recipe-instructions" name="recipe-instructions"></textarea>
      </div>
      <div class="add-recipe-card field">
        <button type="submit" class="submit-btn button">Submit Recipe</button>
      </div>
</form>
<script src="/js/add-recipe.js"></script>