<section>

<h3>Login</h3>
<form class="login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <button type="submit">Login</button>
</form>
</section>

<section>

<h3>Signup</h3>
<form class="signup">
    <label for="signup-username">Username:</label>
    <input type="text" id="signup-username" name="username">

    <label for="signup-email">Email:</label>
    <input type="email" id="signup-email" name="email">
    
    <label for="signup-password">Password:</label>
    <input type="password" id="signup-password" name="password">

    <button type="submit">Signup</button>
</form>
</section>


<script src="/js/login.js"></script>