<section>
<a href="/js/profile.js"></a>
<h3>{{user.name}}</h3>
<!-- profile picture/avatar -->
</section>

<h2>Recipes You Have Uploaded</h2>

<section>
    {{#each user.recipes as |recipe| }}
    <a href="/recipe/{{recipe.id}}">{{ recipe.name}}</a>
    {{/each}}
</section>
