<section>
<a href="/public/js/profile.js"></a>
<h3>Username </h3>
<!-- profile piture/avatar -->
</section>
<section>

<h2> Get To Know The Chief</h2>

<p> <!-- User bio --> </p>

</section>

<section>
    <ul>
        <li></li>
        <!--list of different recipes that have been uploaded -->
        <li></li>
    </ul>
</section>

<section>
    <ul>
        <li></li>
        <!-- saved section for recipes -->
        <li></li>
    </ul>
</section>