:root {
    --forestGreen: rgb(87, 140, 7);
}
h1{
    margin-bottom: 25px;
    display:flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
    
    
}
nav {
    background-color: var(--forestGreen );
    margin-left: 10px;
    margin-bottom: 5px;
    
    
    
}
.profileName{
    margin-left: 10px;
    padding-top: 0;
    font-weight: bold;
    font-size: 200%;
    height: auto;
   
}
.nameSpace{
   height: 80%;
    background-color: beige;
}
.recipeUpSpace{
    background-color: var(--forestGreen);

}

.recipeUp{
    margin-left: 10px;
   color: white;
}
.profileRec{
    font-size: 150%;
}
nav a{
    color: white;

}
a{
    margin: 10px;

}
.user{
    margin-left: 10px; 
    font-weight:bold;
}
.recipeName{
    font-size: 300%;
}


.card-body{
    font-size: 25px;
}

h3{
    padding-left: 6px;
}

.add-recipe-card {
    margin: 10px;
}

.add-ingredient {
    margin-top: 5px;
}

.remove-ingredient {
    margin-top: 5px;
}
.ingredients{
    background-color: var(--forestGreen);
    margin: 15px;
    width: fit-content;
}
.ingredientName{
    color: white;
}
.recipePage{
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* flex-direction: column; */
}





.login{
    background-color: var(--forestGreen);
    padding:10px;

    
}
.signup{
    background-color: beige;
    padding:10px;
}

@media screen and (max-width: 400px){
    h1{
        font-size:300%;
    }
}